*{
    margin: 0;
    padding: 0;
}
#yellowDiv{
    width: 600px;
    height: 600px;
    background: yellow;
    position: relative;
}
#redDiv{
    width: 80px;
    height: 80px;
    background: red;
    position: absolute;
}